<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script>
      const socket = io();
      let count = 0;
      const text = document.querySelector('#text');
      console.log(text);

      setInterval(() => {
          socket.emit('send data', { data: [
              0,0,0,0,0,0,0,0,0,0,
              0,0,0,0,0,0,0,0,0,0,
              0,0,0,0,0,0,0,0,0,0,
              0,0,0,0,0,0,0,0,0,0,
              0,0,0,0,0,0,0,0,0,0,
          ] });
          count++;
          console.log('count: ', count);
      }, 50);


      socket.on("count", (args) => {
          text.innerHTML = `count: ${count}`;
      });
  </script>
</html>
